@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;1,700&family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Lato';
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.about__menu {
  width: 422px;
}

.about__menu-content {
  width: 100%;
  height: 58px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 130px;
}

.about__menu-item {
  font-weight: 400;
  color: #3c3c3c;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
}

.about__menu-item_select {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  color: #ada074;
  line-height: 58px;
}

.about__menu-item:hover {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  color: #ada074;
  line-height: 58px;
  cursor: pointer;
}

.menu {
  width: 422px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__body {
  max-width: 823px;
  margin: 0px auto;
}

.about__header {
  margin-bottom: 69px;
}

.about__title {
  margin: 0 0 30px 0;
}

.about__text {
  max-width: 688px;
  font-size: 14px;
  line-height: 25.89px;
  font-weight: 300;
  color: #868585;
  margin: 0px auto;
  text-align: center;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}

.about__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  position: relative;
  text-align: center;
  padding: 0 0 30px 0;
}

.title:after {
  content: '';
  position: absolute;
  width: 80px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #000;
  margin-left: -40px;
}

.item-about__icon {
  margin: 0px auto;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 41px;
}

.item-about__icon:hover {
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.item-about__title {
  text-align: center;
  color: #000;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  margin-bottom: 36px;
  line-height: 1.2;
  font-weight: 400;
}

.item-about__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #868585;
  text-align: center;
}
